.demo .container {
    border: 1px solid #333;
    background-color: #eee;
    margin:10px;
    display: inline-block;
    width: 100%;
    padding: 0;
}
.monitor-display{
    width: 48.5em;
    height: 23em;
    margin: 0 auto;
    position: relative;
    top: 2.375em;
    background: #d5d5d5;
    overflow: hidden;
}
.container iframe {
    width: 100%;
}
.main-action {
    padding-top: 10px;
}
.phone_container {
    background-image: url('/demo/assets/img/phone.png');
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    padding: 76px 21px 0px;
    width: 330px;
}
.pusher_notification {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    width: 300px;
    height: 80px;
    opacity: 0.8;
}